.container-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background: #ff1744 !important;
  border-color: #ff1744 !important;
}
